@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --byu-navy: #002e5d;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

@media print {
  @page {
    margin: 1in;
    size: letter;
  }
}
